.logo-m {
    margin-left: 20px;
}

.p-header{
    width:50%;
    margin: auto;
}

a {
    text-decoration: underline;
}

.image-style{
    text-align: center;
}


li{
    font-style: italic;
}

.main {
    background-image: linear-gradient(to right top, #f4f6f8, #eaf0f6, #dfeaf3, #d4e4f1, #c8deee);
}